@page
@model Portfolio.Pages.AboutModel
@{
	ViewData["Title"] = "About";
}
<div class="text-center">
    <h1 class="display-4">About Us</h1>
    <p> Perhaps I was blind to the facts, stabbed in the back
        I couldn't trust my own homies just a bunch a dirty rats
        Will I, succeed, paranoid from the weed
        And hocus pocus try to focus but I can't see.</p>
    <p>I've been trapped since birth, cautious, 'cause I'm cursed
        And fantasies of my family, in a hearse
        And they say it's the white man I should fear
        But, it's my own kind doin' all the killin' here</p>
    
</div>
