@page
@model PrivacyModel
@{
    ViewData["Title"] = "Contact";
}

<div class="text-left">
    <h1 class="display-4">Contact</h1>
    <table class="table table-responsive">      
        <tbody>
            <tr>
                <td>Name:</td>
                <td>Ranjeet</td>
             </tr>
            <tr>
                <td>Email:</td>
                <td>ranjetmahato416@gmail.com</td>
                </tr>
            <tr><td>Phone:</td>
                <td>9826172836</td>
                </tr>
            <tr><td>Address:</td>
                <td>Janakpur</td>
                </tr>
        </tbody>

    </table>
</div>
